body {
    font-family: Arial, sans-serif;
    background-image: url('Desain\ tanpa\ judul.png'); /* tambahkan latar belakang menggunakan foto */
    background-size: cover;
    background-position: center;
}

.container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
    background-color: rgba(12, 4, 4, 0.8); /* tambahkan transparansi */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote {
    padding: 20px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#quote-text {
    font-size: 24px;
    color: azure;
    font-weight: bold;
    margin-bottom: 10px;
}

#quote-author {
    font-size: 18px;
    color: #ddd6d6;
}

#next-quote {
    background-color: #333533;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#next-quote:hover {
    background-color: #000000;
}